extends ../partials/_layout

block content
    .grid-x
        .cell.auto
        .cell.medium-6
            h1=c__("login")
            form(method="POST")
                .callout
                    if (flash && flash.formErrors)
                        .grid-x
                            .cell
                                .callout.alert(data-closable="")
                                    !=__("check.invalidLogin: Email ou mot de passe incorrect")

                    
                    label=c__("email")
                        input(type="email", name="email", value=email, autofocus)
                    label=c__("password")
                        input(type="password", name="password")
                .clearfix
                    input.button.hollow.secondary.float-right(type="submit", value=c__("login"))
        .cell.auto