extends ../partials/_layout

block content 
    .grid-x
        .cell.auto
        .cell.medium-6
            h1=c__("signin")
            form(method="POST")
                .callout
                    if (flash && flash.formErrors)
                        .grid-x
                            .cell
                                .callout.alert(data-closable="")
                                    !=__n("flash.%s formError", flash.formErrors.length)

                    
                    label=c__("username")
                        +inputError("login")(type="text", name="login", value=login, autofocus)
                    label=c__("email")
                        +inputError("email")(type="email", name="email", value=email)
                    label=c__("password")
                        +inputError("password")(type="password", name="password")
                    label=c__("password_repeat")
                        input(type="password", name="password_confirm")
                .clearfix
                    input.button.hollow.secondary.float-right(type="submit", value=c__("signin"))
        .cell.auto