extends ../../partials/admin/layout

block content
    .grid-x
        .cell
            h1 EDIT
        .cell.medium-6
            form(method="POST")
                .callout
                    if (flash && flash.formErrors)
                        .grid-x
                            .cell
                                .callout.alert(data-closable="")
                                    !=__("check.invalidLogin: Email ou mot de passe incorrect")

                    
                    label=c__("login")
                        input(type="text", name="login", value=user.login, autofocus)
                    label=c__("email")
                        input(type="email", name="email", value=user.email)
                    .grid-x
                        .cell.small-6
                            label Admin
                                br
                                input(type="checkbox", name="admin" checked=user.admin)
                        .cell.small-6
                            label Level
                                br
                                input(type="number", name="level" value=user.current_level min=0)
                                //select(name="level")
                                    each level, index in levels
                                        option(value=level.id selected=user.current_level.equals(level.id))=level.level
                .clearfix
                    input.button.hollow.secondary(type="submit", value="Save")
