extends ../../partials/admin/layout

block content
    .grid-x
        .cell
            h1 EDIT
        .cell.medium-6.text-center
            form(method="POST")
                .callout
                    if (flash && flash.formErrors)
                        .grid-x
                            .cell
                                .callout.alert(data-closable="")
                                    !=__("check.invalidLogin:Email ou mot de passe incorrect")

                    
                    label=c__("login")
                        input(type="text", name="login", value=user.login, autofocus)
                    label=c__("email")
                        input(type="email", name="email", value=user.email)
                    label Admin
                        br
                        input(type="checkbox", name="admin" checked=user.admin)
                .clearfix
                    input.button.hollow.secondary(type="submit", value="Save")
