extends ../../partials/admin/layout

block content
    .grid-x
        .cell
            h1=c__(`buildings.${building.name}`)
        .cell.medium-6
            form(method="POST")
                .callout
                    label Name
                        input(type="text" name="name" value=building.name autofocus)
                    label Offset
                        .grid-x.grid-margin-x
                            .cell.small-3
                                label Top
                                    input(type="number" name="offset_t" value=building.offset.top)
                            .cell.small-3
                                label Left
                                    input(type="number" name="offset_l" value=building.offset.left)
                            .cell.small-3
                                label Right
                                    input(type="number" name="offset_r" value=building.offset.right)
                            .cell.small-3
                                label Bottom
                                    input(type="number" name="offset_b" value=building.offset.bottom)
                    label Hit area
                        .grid-x.grid-margin-x
                            .cell.small-3
                                label X
                                    input(type="number" name="hitArea_x" value=building.hitArea.x)
                            .cell.small-3
                                label Y
                                    input(type="number" name="hitArea_y" value=building.hitArea.y)
                            .cell.small-3
                                label Width
                                    input(type="number" name="hitArea_w" value=building.hitArea.width)
                            .cell.small-3
                                label Height
                                    input(type="number" name="hitArea_h" value=building.hitArea.height)
                input.button.hollow.secondary(type="submit", value="Save")