extends ../../partials/admin/layout

block content
    .grid-x
        .cell.small-6
            h1 LEVELS
        .cell.small-6.text-right
            a.button.hollow.secondary.tiny(href="/admin/levels/new") New
        .cell
            .callout.small
                table.unstriped.hover
                    each level, index in levels
                        tr.light-gray
                            td=level.level
                            td.text-right
                                +add_js(question="Add a goal", href=`/admin/levels/${level.id}/add-goal`, title="Add a goal")
                                +edit(href=`/admin/levels/${level.id}/edit`)
                                if (index === levels.length-1)
                                    +delete(href=`/admin/levels/${level.id}/delete`)
                                else
                                    +placeholder
                        if level.goals
                            each goal in level.goals
                                tr
                                    td=__(`goals.${goal.phrase}`)
                                    td.text-right
                                        +edit(href=`/admin/levels/${level.id}/goals/${goal.id}/edit`)
                                        +delete(href=`/admin/levels/${level.id}/goals/${goal.id}/delete`)
                    else
                        tr: td No level for now
