.grid-x
    .cell
        #user-lvl.float-left
        .float-left
            h1=`Level ${level.level}`
            .callout.small
                table.unstriped.hover(style="width: 100%")
                    -var goals_archieved = 0
                    each goal, index in goals
                        tr(id=`goal${index}`)
                            th!=__(`goals.${goal.phrase}`)
                            each archieved in me.goals
                                if archieved.equals(goal)
                                    -goals_archieved++
                                    th.success.text-center &check;
                                else
                                    th
.grid-x
    .cell
        a.button.hollow.secondary(href="/") &rtrif; Join the tutorial
        a.button.hollow.secondary(href="/join")=c__("join")

script(type="text/javascript").
    var l = #{level},
        g = #{goals.length},
        a = #{goals_archieved};
